/* index css */
#index {
    h1 {
        text-align: center;
    }

    .sub-title {
        margin-top: 4px;
        margin-bottom: 16px;
        text-align: center;
        font-style: italic;
        opacity: 0.8;
    }

    .button {
        margin-bottom: 15px;
        background-image: linear-gradient(-180deg, #00D775, #00BD68);
        color: #FFF;
    }

    .button:hover {
        background: #00bd68;
    }

    .fas {
        color: #FFF;
    }

    .card {
        margin-bottom: 24px;
        text-align: left;

        a {
            font-size: large;
            font-weight: bold;
            text-decoration: solid;
            margin-bottom:4px;
        }
    }

    .sort-form {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        background: #e9ecef41;
        padding: 10px 15px;
        border-radius: 8px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }

    .sort-form label {
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }

    .sort-form select {
        padding: 5px 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;
    }

    .sort-form button {
        background: #007bff;
        color: #fff;
        border: none;
        padding: 6px 12px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    .sort-form button:hover {
        background: #0056b3;
    }
}

.completed-title {
    color: rgb(196, 196, 196); /* 斜線が見やすくなるように色を変更 */
}